
	<h1>this</h1>
	<p class="lead">The special variable <code>this</code> is available everywhere and its value in most cases is determined by how a function is called.</p>
	<p>This page explores the complexity that comes with <code>this</code> and how <code>"use strict";</code> effects it.</p>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Simple use in "sloppy" mode.</h3>
	  </div>
	  <div class="panel-body">
		  <table class="table">
		    <tr>
		    	<th width="50%">code</th>
		    	<th width="50%">result</th>
		    </tr>
		    <tr>
		    	<td><div hljs include="'templates/test'"></div></td>
		    	<td><p class="well console">Window {top: Window, window: Window, location: Location, external: Object, chrome: Object…}</p></td>
		    </tr>
		  </table>	  	
		  <p>Notice <code>this</code> refers to the global object (<code>window</code>).</p>
	  </div>
	</div>