<div class="col-xs-12 footer">
	<hr />
	<div class="col-xs-5"></div>
	<div class="col-xs-1"><iframe src="http://ghbtns.com/github-btn.html?user=paulreeve&repo=javascript-chips&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="50"></iframe></div>
	<div class="col-xs-1"><iframe src="http://ghbtns.com/github-btn.html?user=paulreeve&repo=javascript-chips&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="50"></iframe></div>
	<div class="col-xs-5"></div>


</div>
<div class="col-xs-12 footer">
	<ul class="list-inline">
		<li>Site powered by:</li>
		<li><a href="https://pages.github.com">GitHub Pages</a></li>
		<li>·</li>
		<li><a href="https://angularjs.org">AngularJS</a></li>
		<li>·</li>
		<li><a href="http://gulpjs.com">Gulp</a></li>
		<li>·</li>
		<li><a href="http://getbootstrap.com">Bootstrap</a></li>
	</ul>
</div>